@import "tailwindcss";

body {
  color: #171717;
  background: #ffffff;
  font-family: var(--font-roboto-medium), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-secondary {
    font-family: var(--font-roboto-regular), sans-serif;
  }
}

/* Force rounded corners on Next.js Image component */
.rounded-3xl img {
  border-radius: 1.5rem;
}
