@import "tailwindcss";

body {
  color: #171717;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Force rounded corners on Next.js Image component */
.rounded-3xl img {
  border-radius: 1.5rem;
}
